// COLORS
$color-primary: #1dd6b3;
$color-primary-light: #77e6d1;
$color-primary-dark: #17ab8f;

$color-secondary: #d61d40;
$color-secondary-dark: #95142c;
$color-secondary-light: #e26079;

$color-tertiary: #011638;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey: #dad2d8;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
