main {
  display: flex;
  justify-content: center;
  width: 100vw;

  @include respond(tab-port) {
    flex-direction: column;
  }
}

.section-random {
  flex: 1;
  padding: 2rem;
}
.section-finder {
  flex: 4;
  padding: 2rem;
  border-left: 1px solid $color-black;
}

.section-trending {
  flex: 1;
  padding: 2rem;
  border-left: 1px solid $color-black;
}

.section-random__hidden,
.section-finder__hidden,
.section-trending__hidden {
  display: none;
}
