body {
  font-family: "Open Sanas", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark;
}

.heading-primary {
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $color-black;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 400;
  color: $color-black;
}
