main {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.section-random {
  flex-basis: 1;

  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 2rem;
}
.section-finder {
  flex-basis: 2;
  padding: 2rem;
  border-left: 1px solid $color-black;
}

.section-trending {
  flex-basis: 1;
  padding: 2rem;
  border-left: 1px solid $color-black;
}
