/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Open Sanas", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777; }

.heading-primary {
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #000; }

.heading-secondary {
  align-self: flex-start;
  font-size: 3rem;
  font-weight: 400;
  color: #000; }

.hidden {
  display: none; }

.loading,
.error {
  margin: 5rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; }
  .loading svg,
  .error svg {
    height: 6rem;
    width: 6rem; }
  .loading p,
  .error p {
    margin: 1rem; }

.loading {
  border: 3px #55c57a dashed; }
  .loading svg {
    fill: #55c57a;
    animation: rotate 2s infinite linear; }
  .loading p {
    color: #55c57a; }

.error {
  border: 3px #ff7730 dashed; }
  .error svg {
    fill: #ff7730; }
  .error p {
    color: #ff7730; }

.btn {
  background-color: #55c57a;
  border: none;
  width: 100%;
  padding: 1rem 4rem;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.search-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  margin: 0 0 2rem 0; }
  .search-form__input {
    margin: 1rem 0;
    padding: 1rem; }
  .search-form__icon {
    height: 2rem;
    width: 2rem; }

.gallery {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1.5rem; }
  @media only screen and (max-width: 75em) {
    .gallery {
      grid-template-columns: repeat(3, auto); } }
  @media only screen and (max-width: 56.25em) {
    .gallery {
      grid-template-columns: repeat(2, auto); } }
  .gallery__image {
    height: auto;
    width: 100%;
    object-fit: cover;
    display: block; }

.random-giphy {
  padding: 2rem;
  width: 100%; }
  .random-giphy__img {
    height: auto;
    width: 100%;
    object-fit: cover;
    display: block; }

.random-btn__icon {
  height: 2rem;
  width: 2rem; }

.trending-giphys {
  padding: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .trending-giphys {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem; } }
  .trending-giphys__item {
    margin: 2rem 0; }
  .trending-giphys__img {
    height: auto;
    width: 100%;
    object-fit: cover;
    display: block; }

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .navigation__btn {
    cursor: pointer;
    border: none;
    background-color: red;
    width: 20rem;
    position: relative; }
    .navigation__btn--active::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #55c57a;
      top: 0;
      left: 0; }
  .navigation__icon {
    height: 4rem;
    width: 4rem; }
  .navigation__hidden {
    display: none; }

.header {
  background-color: #ff7730;
  height: 10vh;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

main {
  display: flex;
  justify-content: center;
  width: 100vw; }
  @media only screen and (max-width: 56.25em) {
    main {
      flex-direction: column; } }

.section-random {
  flex: 1;
  padding: 2rem; }

.section-finder {
  flex: 4;
  padding: 2rem;
  border-left: 1px solid #000; }

.section-trending {
  flex: 1;
  padding: 2rem;
  border-left: 1px solid #000; }

.section-random__hidden,
.section-finder__hidden,
.section-trending__hidden {
  display: none; }
