.search-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  margin: 0 0 2rem 0;

  &__label {
  }

  &__input {
    margin: 1rem 0;
    padding: 1.5rem;

    font-family: inherit;
    color: inherit;
    background-color: rgba($color-white, 0.5);
    border: 2px solid $color-tertiary;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.01);
      border: 2px solid $color-secondary;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border: 2px solid $color-secondary;
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }
}
