.message--welcome,
.message--loading,
.message--error {
  margin: 5rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  svg {
    height: 6rem;
    width: 6rem;
  }
  p {
    margin: 1rem;
  }
}

.message--loading,
.message--welcome {
  border: 3px $color-primary dashed;

  svg {
    fill: $color-primary;
    animation: rotate 2s infinite linear;
  }
  p {
    color: $color-primary;
  }
}

.message--error {
  border: 3px $color-secondary dashed;

  svg {
    fill: $color-secondary;
  }
  p {
    color: $color-secondary;
  }
}
