.random-giphy {
  margin-bottom: 10rem;

  &__item {
    border: 2px solid $color-tertiary;
    display: block;
  }

  &__img {
    height: auto;
    width: 100%;
    object-fit: cover;
    display: block;
  }
}

.random-btn {
  &__btn {
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }
}
