.random-giphy {
  margin-bottom: 10rem;
  height: 40vh;

  &__item {
    border: 2px solid $color-tertiary;
    display: block;
  }

  &__img {
    width: 100%;
    object-fit: cover;

    display: block;
    max-height: 40vh;
  }
}

.random-btn {
  &__btn {
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }
}
