.header {
  background-color: $color-primary;
  min-height: 7vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 3rem;

  @include respond(tab-port) {
    justify-content: center;
    padding: 0;
  }

  &__text-box {
    text-align: center;
  }
}
