.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  &__icon {
    height: 4rem;
    width: 4rem;
  }
}
